*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  height: auto;
  font-size: calc(10px + 2vmin);
  color: white;
}
.slideimages{
  width: 100%;
}
.slider img{
  width: 100%;
  height: 400px;
}
.next{
  cursor: pointer;
}
.prev{
  cursor: pointer;
}